@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-bg: #252544;
  --color-white: #fff;

  --transition: all 400ms ease;


}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: Poppins sans-serif;
  color: var(--color-white);
  background: var(--color-bg);
  background-image: url('/img/bg-texture.png');
}

.hovered .absolute {
  opacity: 0.7;
}

.swiper-button-prev {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 50px;
  height: 50px;
  background-color: rgba(210, 210, 210, 0.5);
  border-radius: 2px;
  cursor: pointer;
  padding: 30px 25px;
  transition: background-color 0.3s ease;
}

.swiper-button-prev:hover {
  background-color: #eaeaea;
}

/* Стили для стрелки "вперед" (next) */
.swiper-button-next {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 50px;
  height: 50px;
  background-color: rgba(210, 210, 210, 0.5);
  border-radius: 2px;
  cursor: pointer;
  padding: 30px 25px;
  transition: background-color 0.3s ease;
}

.swiper-button-next:hover {
  background-color: #eaeaea;
}