.header {
  background-color: rgba(82, 82, 82, 0.5);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width: 100%;
  height: 80px;


  &__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

  }

}

.btn {
  border: 1px solid #d20505;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all .2s linear;
  margin-left: 15px;

  &:hover {
    background-color: #fff;
    color: #252544;
    border: 1px solid #f1f1f1;
  }

}

.favBtn {
  border: 1px solid #d20505;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all .2s linear;
  margin-right: 10px;

  &:hover {
    background-color: #fff;
    color: #252544;
    border: 1px solid #f1f1f1;
  }
}

.logout {
  border: 1px solid #d20505;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all .2s linear;

  &:hover {
    background-color: #fff;
    color: #252544;
    border: 1px solid #f1f1f1;
  }
}

@media (max-width: 1200px) {
  .header{
    &__container {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}

@media (max-width: 650px) {
  .header{
    height: 140px;

    &__container {
      flex-wrap: wrap;
    }
  }

}

@media (max-width: 617px) {
  .header{
    height: 205px;

    &__container {
      display: flex;
      flex-wrap: wrap;
    }

    &__wrapper {
      flex-wrap: wrap;
      padding-top: 20px;
    }

    &__btns {
      margin-top: 60px;
    }
  }

  .filter {
    margin-top: 20px;
  }

  .favBtn, .logout {
    margin-top: 65px;
  }
}

@media (max-width: 523px) {
  .filter {
    margin-top: 0;
  }
  .header{
    &__wrapper {
      gap: 10px;
    }
  }
}

@media (max-width: 390px) {
  .favBtn, .logout {
    margin-top: 110px;
  }
  .header {
    height: 250px;
  }
}